@import './base.css';
@import './helpers.css';
/* @import './toggle-btn.css'; */
/* @import './user-msg.css'; */

@import './global.css';

/* @import 'normal.css' (min-width: 850px);  */
/* @import '_mobile-menu.css'; */


* {
    box-sizing: border-box;
}

html {
    font-family: 'Gothic';
    font-size: 16px;
    text-transform:initial;
    background: #dadada;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
}

nav {
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    height: 90px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu li {
    padding: 20px;
}



.gothic {
    font-family: 'Gothic';
}

body{
    margin: 0 auto;
}


nav{
    position: absolute;
    background-color: rgba(37,47,57,.9);
    color: pink;
    width: 100%;
    height: 90px;
    top:0;
 }

 .router-link-active {
     color:green;
 }
